/* Edit user CSS */


.rdbadmin-avatar-type label:not(:last-child) {
    margin-right: .625em;
}


.rdbadmin-current-avatar button {
    margin-bottom: 5px;
}
.rdbadmin-current-avatar .rdbadmin-current-avatar-container {
    border: 1px solid #eee;
    margin-bottom: 5px;
    max-width: 200px;
}


.rdbadmin-select-avatar-dropzone {
    border: 3px dashed #ddd;
    padding: 5px;
}