/*
Admin home (admin dashboard) CSS.
*/


.rdba-dashboard-row-hero .rdba-dashboard-row-hero-contents {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.rdba-dashboard-row-hero .rdba-dashboard-widget-column:not(:last-child) {
    margin-bottom: 1.25rem;
}


.rdba-dashboard-row-normal {
    column-gap: 0;
    margin-left: -0.625rem;
    margin-right: -0.625rem;
}
.rdba-dashboard-row-normal .rdba-dashboard-widget-column {
    break-inside: avoid;
    margin-bottom: 1.25rem;
    overflow: hidden;/* @link https://stackoverflow.com/a/52192567/128761 Fix Firefox, MS Edge did not render correctly. */
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}
@media (min-width: 768px) {
    .rdba-dashboard-row-normal .rdba-dashboard-widget-column {
        max-width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 1599px) {
    .rdba-dashboard-row-normal {
        column-count: 2;
    }
}
@media (min-width: 1600px) {
    .rdba-dashboard-row-normal {
        column-count: 4;
    }
}

.rdba-dashboard-row-normal .rdba-dashboard-widget-contents h1 {
    font-size: 2.05em;
}
.rdba-dashboard-row-normal .rdba-dashboard-widget-contents h2 {
    font-size: 1.5em;
}
.rdba-dashboard-row-normal .rdba-dashboard-widget-contents h3 {
    font-size: 1.27em;
}
.rdba-dashboard-row-normal .rdba-dashboard-widget-contents h4 {
    font-size: 1em;
}
.rdba-dashboard-row-normal .rdba-dashboard-widget-contents h5 {
    font-size: 0.75em;
}
.rdba-dashboard-row-normal .rdba-dashboard-widget-contents h6 {
    font-size: 0.625em;
}


.rdba-dashboard-widget-contents {
    border: 1px solid #ddd;
    padding: 0.625rem;
    position: relative;
}
.rdba-dashboard-widget-contents .drag-icon {
    cursor: move;
    opacity: 0;
    position: absolute;
    right: 0.3125rem;
    top: 0.3125rem;
    transition: opacity 0.3s;
}
.rdba-dashboard-widget-column:hover .drag-icon {
    opacity: 1;
    transition: opacity 0.1s;
}