/*
Admin home (admin dashboard) CSS.
*/


.rdba-dashboard-row-hero .rdba-dashboard-row-hero-contents {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.rdba-dashboard-row-hero .rdba-dashboard-widget-item:not(:last-child) {
    margin-bottom: 1.25rem;
}


.rdba-dashboard-row-normal {
    align-items: stretch;
    column-gap: 1.25rem;
    display: grid;
    grid-auto-rows: 20px;
    grid-template-columns: 1fr;
    row-gap: 1.25rem;
}
@media(min-width: 840px) and (max-width: 1059px) {
    .rdba-dashboard-row-normal {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(min-width: 1060px) and (max-width: 1459px) {
    .rdba-dashboard-row-normal {
        grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    }
}
@media(min-width: 1460px) {
    .rdba-dashboard-row-normal {
        grid-template-columns: repeat(auto-fill, minmax(355px, 1fr));
    }
}

.rdba-dashboard-row-normal .rdba-dashboard-widget-item {
    border: 1px solid #ddd;
}


.rdba-dashboard-row-normal .rdba-dashboard-widget-contents h1 {
    font-size: 2.05em;
}
.rdba-dashboard-row-normal .rdba-dashboard-widget-contents h2 {
    font-size: 1.5em;
}
.rdba-dashboard-row-normal .rdba-dashboard-widget-contents h3 {
    font-size: 1.27em;
}
.rdba-dashboard-row-normal .rdba-dashboard-widget-contents h4 {
    font-size: 1em;
}
.rdba-dashboard-row-normal .rdba-dashboard-widget-contents h5 {
    font-size: 0.75em;
}
.rdba-dashboard-row-normal .rdba-dashboard-widget-contents h6 {
    font-size: 0.625em;
}


.rdba-dashboard-widget-contents {
    padding: 0.625rem;/* add padding here to prevent text at bottom overflow parent element. */
    position: relative;
}
.rdba-dashboard-widget-contents .drag-icon {
    cursor: move;
    opacity: 0;
    position: absolute;
    right: 0.3125rem;
    top: 0.3125rem;
    transition: opacity 0.3s;
}
.rdba-dashboard-widget-item:hover .drag-icon {
    opacity: 1;
    transition: opacity 0.1s;
}